* {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}
.g_bg {
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}
.rdiWrapper {
    padding: 40px;
}
.radheader {
    margin-top: 20px;
    position: relative;
    zoom: 1;
}
.radheader:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.ridimore::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.ridimore {
    margin-top: 35px;
}
