.rditop {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.fl {
    width: 426px;
    margin: 20px;
}
.fr {
    width: 426px;
    margin: 20px;
}
.title {
    height: 40px;
    border-bottom: 2px solid #c20c0c;
}
.toplist {
    list-style-type: disc;
    border: 1px solid #e2e2e2;
    border-top: none;
}
.listItem {
    display: flex;
    flex-direction: row;
    width: 400px;
    padding: 10px 0;
    margin-left: 20px;
    line-height: 40px;
}
.programName, .rankListName {
    margin-left: 10px;
    margin-top: -10px;
    white-space: nowrap;
    word-wrap: normal;
    }
    .programName {
        width: 250px;
    }
    .rankListName {
        width: 180px;
    }
    .Text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .itemCategory {
        display: inline-block;
        position: relative;
        top: 11px;
        height: 16px;
        left: 13px;
        line-height: 16px;
        border: 1px solid #999;
        color: #999;
        vertical-align: middle;
        font-size: 12px;
    }
    .u-hot {
    display: flex;
    position: relative;
    width: 100px;
    height: 8px;
    margin: 15px 10px 0 0;
    background-position: 0px -240px;
    line-height: normal;
    }
    .slide {
    overflow: hidden;
    background: #999;
    width: 100%;
    border-radius: 5px;
    }
    .slideAfter {
      overflow: hidden;
      background: rgb(216, 214, 214);
      border-radius: 5px;
    }
    .rank {
        font-size: 14px;
        width: 15px;
        margin: 10px 10px 0 0;
        text-align: center;
        line-height: normal;
    }