
/* .ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover */
.ant-carousel .slick-prev,
.ant-carousel .slick-next
{
    color: #333;
    font-size: 1rem;
}
/* .ant-carousel .slick-prev, .ant-carousel .slick-next {
    color: #333;
    font-size: large;
} */

/* .CaretLeftFilled {
    color: black;
} */

.ridHeadericon {
    background-repeat: no-repeat;
    width: 0.28rem;
    height: 0.28rem;
    margin: 0.03rem auto 0;
    background-position: 0 0;
}

.siglebox {
    display: block;
    width: 0.61rem;
    height: 0.8rem;
}
.text {
    display: inline-block;
    transform: translate(0,-90px);
    text-align: center;
    color: #888;
    font-style: normal;
    font-size: 0.09rem;
}

.siglebox {
    list-style: none;
    float: left;
    display: list-item;
    text-align: center;
}

.LeftOutlined,
.RightOutlined {
    color: #333;
}